.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-right: 55vw;
    font-size: 6.5vw;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.header {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}

.list {
    width: 7vw;
    height: 5vh;
    border-bottom: 2px solid blue;
    padding: 15px;
}

.heart {
    width: 6vw;
    height: 4vh;
    margin-top: 0.5vh;
    padding: 15px;
}

.notInfo_container {
    margin-top: 2vh;
    margin-right: 10vw;
}

.NotYet {
    font-size: 5vw;
}

.Sub {
    margin-top: 7vh;
    font-size: 4vw;
}

.Sub p {
    margin: 0;
}

.Write_btn {
    display: fixed;
    font-size: 5vw;
    border-radius: 50px;
    border: none;
    background-color: #6285E1;
    color: white;
    width: 50vw;
    height: 6.5vh;
    margin-top: 25vh;
}

.diaries_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .diary_item {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .diary_image {
    width: 100%;
    height: auto;
    display: block;
  }


  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modalImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .modalContent {
    margin-top: 20px;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modalHeader h2 {
    margin: 0;
  }
  
  .modalHeader p {
    margin: 0;
  }