.proheadercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.proCrebackbuttons{
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 5px solid #A3A3A3;
    border-bottom: 5px solid #A3A3A3;
    transform: rotate(45deg);
    cursor: pointer;
    margin-left: -55vh;
    margin-top: 4vh;
}
.proheadertext{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.prochecklist{
    display: flex;
    align-items: center;
    gap: 1px; 
}
.procheckcircle1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #6285E1; 
    border-radius: 50%; 
    border: 2px solid #6285E1; 
}
.procheckmark{
    position: absolute;
    top: 46%;
    left: 50%;
    width: 19px;
    height: 13px;
    border-left: 7px solid white; 
    border-bottom: 7px solid white; 
    border-top-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
    transform: translate(-50%, -50%) rotate(-45deg);
}
.proline1{
    position: relative;
    width: 100px;
    height: 5px;
    background-color:  #6285E1;
}
.proline2{
    position: relative;
    width: 100px;
    height: 5px;
    background-color:  #6285E1;
}
.procheckcircle2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color:#6285E1; 
    border-radius: 50%; 
    border: 2px solid #6285E1; 

}
.procheckcircle3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #6285E1; 
    border-radius: 50%;
    border: 2px solid #6285E1; 
}