.proppage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.dateheadertext{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;

}
.datechecklist{
    display: flex;
    align-items: center;
    gap: 1px; 
}
.datecheckcircle1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #6285E1; 
    border-radius: 50%; 
    border: 2px solid #6285E1; 
}
.datecheckcircle2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #6285E1; 
    border-radius: 50%; 
    border: 2px solid #6285E1; 
}
.datecheckcircle3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color:  #E5E5E5; 
    border-radius: 50%;
}
.datecheckmark{
    position: absolute;
    top: 46%;
    left: 50%;
    width: 19px;
    height: 13px;
    border-left: 7px solid white; 
    border-bottom: 7px solid white; 
    border-top-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
    transform: translate(-50%, -50%) rotate(-45deg); 
}
.dateline1{
    position: relative;
    width: 100px;
    height: 5px;
    background-color:  #6285E1; 
}
.dateline2{
    position: relative;
    width: 100px;
    height: 5px;
    background-color:  #E5E5E5; 
}
.dateCrebackbuttons {
    
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 5px solid #A3A3A3;
    border-bottom: 5px solid #A3A3A3;
    transform: rotate(45deg);
    cursor: pointer;
    margin-left: -55vh;
    margin-top: 4vh;
    
    
}
.checkbox {
    margin-top: 40%;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    background-color: #6285E1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.check {
    width: 7vw;
    height: 3vw;
    border-left: 7px solid white;
    border-bottom: 7px solid white;
    transform: rotate(-45deg);
}
.porpmaintext{
    position: absolute;
    margin-top: 68%;
    font-size: 5.5vw;

}
.porpmaintext1{
    position: absolute;
    margin-top: 77%;
    font-size: 4vw;
    font-weight: 300;
}
.porpmaintext2{
    position: absolute;
    margin-top: 82%;
    font-size: 4vw;
    font-weight: 300;
}
.porpfooterbutton{
    margin-top: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 28vw;
    height: 12vw;
    border-radius: 50px;
    background-color: #6285E1;
}
.propstatetext{
    font-size: 4.6vw;
    font-weight: 600;
    color: white;
}