.potocombox{
    margin-top: 40%;
}
.title{
    font-size: 7vw;
    font-weight: bold;
    margin-left: 6vw;
}
.subtitle{
    position: absolute;
    font-size: calc(0.9rem + 0.5vw);
    color: #666;
    margin-bottom: 2vw;
    line-height: 1.4;
    margin-left: 6vw;
    margin-top: -4%;

}

.inputbutton{
    position: absolute;
    display: block;
    width: 60%;
    height: 4% !important;
    padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
    background-color: #6285E1;
    color: white;
    text-align: center;
    border-radius: 10vw;
    cursor: pointer;
    font-size: 4.3vw;
    margin-left: 17vw;
    margin-top: 40vh;
    margin-bottom: -5vh;
    font-weight: bold;
}
@media (min-width: 721px) {
    .potocombox{
        margin-top: 8%;
    }
    .title{
        
        margin-left: 30vw;
        font-size: 3vw;
        
    }
    .subtitle{
        font-size: 1.4vw;
        margin-left: 30vw;
        margin-top: -4vh;
    }
    .inputbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        height: 4vh !important;
        font-size: 2vw;
        margin-left: 40vw;

    }
}