.responsive_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header_container {
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10%;
    width: 100%;
    max-width: 720px;
}

.healing {
    font-weight: 900;
    width: 40%;
    font-size: 5vw;
    font-family: sans-serif;
}

.read_container {
    display: flex;
    flex-direction: column;
    margin-top: -5vh;
}

.address {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 3vw;
}

.read {
    border: 1px solid #D9D9D9;
    color: #4674F0;
    background-color: #D3E7FF;
    font-weight: 900;
    font-size: 3.5vw;
    width: 20vw;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 3vw;
}

@media (min-width: 721px) {
    .header_container {
        padding: 20px 0;
    }

    .healing {
        width: 17vw;
        margin-left: -15vw;
        font-size: 36px;
    }

    .address {
       margin-right: -14vw;
        font-size: 21.6px;
    }

    .read {
        margin-right: -25vw;
        font-size: 25.2px;
        width: 144px;
    }
}