.permaincontainer {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 80px; 
    position: absolute;
    width: 100vw;
    height: 50vh;
    background-color: #F5F5F5;
    border-radius: 10%;
    margin-left: 0;
    margin-top: 27vh;
}

.perusercontainer {
    margin-top: -18vh;
    background-color: #D9D9D9;
    width: 32vw;
    height: 25vh;
    border-radius: 4vw;
}

.perimg1, .perimg2 {
    font-size: 20px;
    text-align: center;
}

.userinfotext, .userinfotext1, .userinfotext2, .userinfotext3, .userinfotext4 {
    font-size: 2.4vw;
    position: absolute;
    font-weight: 600;
    margin-left: -37vw;
    margin-top: 5.3vh;
}

.userinfocontainer1, .userinfocontainer2 {
    position: absolute;
}

.userinfobox {
    position: absolute;
    width: 20vw;
    height: 3vh;
    background-color: #D5D5D5;
    border-radius: 10vw;
    margin-top: 5vh;
    margin-left: -29vw;
}

.infobox1 {
    position: absolute;
    margin-top: 1vh;
}

.infobox2 {
    position: absolute;
    margin-top: 5vh;
}

.infobox3 {
    position: absolute;
    margin-top: 9vh;
}
.infobox4 {
    position: absolute;
    margin-top: 4vh;
}

.userinfocontainer2 {
    margin-left: 75vw;
}

.userinfotext1, .userinfotext2, .userinfotext3, .userinfotext4 {
    margin-left: -6vw;
}

.userstatedistrict {
    width: 13vw;
    height: 9vh;
    position: absolute;
    background-color: #6285E1;
    border-radius: 100%;
    margin-top: 24vh;
}

.compat {
    color: white;
    margin-left: 4.2vw;
    margin-top: 2vh;
}

.percent {
    font-size: 4.6vw;
    font-weight: 700;
    color: white;
    margin-left: 3.6vw;
    margin-top: -2vh;
}

@media (min-width: 721px) {
    .permaincontainer {
        width: 60vw;
       
        height: 80vh;
        
        margin-left: 20%;
        margin-right: auto;
    }
    .userinfocontainer1{
        margin-top: 10%;
        margin-left: 30%;
    }
    .userinfocontainer2{
        margin-top: 10%;
    }

    .perusercontainer {
        display: flex;
        
        margin-top: -27%;
        width: 30vw;
        max-width: 380px;
        height: 40vh;
        max-height: 40vh;
        
    }

    .userinfotext1, .userinfotext2, .userinfotext3, .userinfotext4 {
        font-size: 1vw;
        margin-left:-15vw;
        margin-top: 3.3vw;
        
    }
    .userinfotext{
        font-size: 1vw;
       

        
    }


    .userinfobox {
    
        width: 14vw;
        max-width: 240px;
        height: 6vh;
        
       

    }

    .userstatedistrict {
        margin-top: 35vh;
        width: 6vw;
        max-width: 156px;
        height: 10vh;
        max-height: 108px;
    }
    .compat{
        margin-left: 37%;
    }

    .percent {
        font-size:2vw;
        margin-left: 30%;
        max-font-size: 55px;
    }
    .infobox1{
        margin-top: -4vh;
    }
    .infobox2{
        margin-top: 3vh;
    }
    .infobox3{
        margin-top: 10vh;
    }
    .infobox4{
        margin-top: 7vh;
    }
    .userinfotex1t{
        margin-left: 40px;
        
    
    }
}

.userinfoboxContainer {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.userinfobox {
    height: 10px;
    border-radius: 10px;
}