.credatemaincontainer {
    position: absolute;
}

.credatemaintext1 {
    font-weight: 400;
    margin-left: 20vw;
    font-size: 4vw;
}

.credatemaintext2 {
    font-weight: 400;
    margin-left: 20vw;
    font-size: 4vw;
    margin-top: -4vw;
}

.datetogglebutton {
    position: absolute !important;
    width: 210px;
    height: 50px;
    background-color: #ccc;
    border-radius: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    transition: background-color 0.3s;
    margin-left: 66% !important;
    margin-top: 10%;
}

.datetoggletextleft {
    margin-left: -3%;
    position: absolute;
    width: 50%;
    text-align: center;
    font-size: 20px;
    color: black;
    z-index: 1;
}

.datetoggletextright {
    margin-left: 3%;
    position: absolute;
    width: 50%;
    text-align: center;
    font-size: 20px;
    color: black;
    z-index: 1;
    right: 0;
}

.datetogglecircle {
    position: absolute;
    width: 112px;
    height: 45px;
    background-color: white;
    border-radius: 200px;
    transition: transform 0.3s;
    left: 5px;
    bottom: 2px;
    z-index: 0;
}

.on {
    transform: translateX(108px);
}

.off {
    transform: translateX(0);
}


.datebox{
    position: absolute;
    width: 64vw;
    height: 38vh;
    border: 2px solid #2D5BD2;
    margin-top:15vw !important;
    margin-left: 18vw !important;
    border-radius: 4vw;

}


/* .datebox를 부모 컨테이너로 사용하여 중앙에 배치 */
.datebox {
    position: absolute;
    width: 64vw;
    height: 40vh;
    border: 2px solid #2D5BD2;
   
    margin-left: 15vw;
    border-radius: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* 배경색 추가 */
}

/* 사용자 정의 달력 스타일 */
.reactCalendar {
    font-size: 3vw;
    position: relative;
    width: 64vw;
    height: 40vh;
    border: none;
    border-radius: 4vw;
}

.reactCalendar {
    font-size: 2.9vw;
    position: relative;
    width: 64vw;
    height: 40vh;
    border: none;
    border-radius: 4vw;
}
.react-calendar__navigation{
    font-size: 3vw !important;
}
.react-calendar__tile--now{
    background: none !important;;
}